* {
  font-family: system-ui, sans-serif;
  font-weight: normal;
}

h1,
h2 {
  font-family: "Iowan Old Style", "Palatino Linotype", "URW Palladio L", P052,
    serif;
  font-weight: 700;
  margin-bottom: 16px;
}

h2 {
  margin-top: 16px;
}

p {
  margin-bottom: 16px;
}

li:not(:last-child) {
  margin-bottom: 8px;
}

.container {
  max-width: 1024px;
  padding: 32px;
  margin: 0 auto;
}

.main__image {
  width: 100%;
  height: calc(50vh - 48px - 44.5px);
  min-height: 128px;
  object-fit: cover;
  margin-bottom: 16px;
  border-radius: 16px;
}

.social__list {
  display: flex;
  list-style: none;
  gap: 16px;
}

.social__item a {
  text-decoration: none;
  display: flex;
}

.social__item {
  transition: opacity 0.2s ease-in-out;
}

.social__item:not(:last-child) {
  margin-bottom: 0;
}

.social__item:hover {
  opacity: 0.5;
}
