* {
  font-family: system-ui, sans-serif;
  font-weight: normal;
}

h1,
h2 {
  font-family: "Iowan Old Style", "Palatino Linotype", "URW Palladio L", P052,
    serif;
  font-weight: 700;
  margin-bottom: 16px;
}

h2 {
  margin-top: 16px;
}

p {
  margin-bottom: 16px;
}

li:not(:last-child) {
  margin-bottom: 8px;
}

.container {
  max-width: 1024px;
  padding: 32px;
  margin: 0 auto;
}

.main__image {
  width: 100%;
  height: calc(50vh - 48px - 44.5px);
  min-height: 128px;
  object-fit: cover;
  margin-bottom: 16px;
  border-radius: 16px;
}

.social__list {
  display: flex;
  list-style: none;
  gap: 16px;
}

.social__item {
  transition: opacity 0.2s ease-in-out;
}

.social__item:not(:last-child) {
  margin-bottom: 0;
}

.social__item:hover {
  opacity: 0.5;
}

.social__link {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #000;
}

.social__link::before {
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 32px;
  height: 32px;
  margin-right: 8px;
}

.social__link--github::before {
  background: center / contain no-repeat url("../img/icons8-github.svg");
}

.social__link--instagram::before {
  background: center / contain no-repeat url("../img/icons8-instagram.svg");
}
